<!DOCTYPE html>
<!-- Code is modified from bootstrap examples on:http://getbootstrap.com/getting-started/ -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>iMusicDB</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="../css/cover.css" rel="stylesheet" type="text/css">
    <link href="../css/aboutme.css" rel="stylesheet" type="text/css">
  </head>
<!-- NAVBAR ================================================== -->
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <a href="../../index.html"><h3 class="masthead-brand">iMusicDB</h3></a>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="../../index.html">Home</a></li>
                  <li class="active" ><a href="about.html">About</a></li>
                  <li><a href="artists.html">Artists</a></li>
                  <li><a href="tracks.html">Tracks</a></li>
                  <li><a href="albums.html">Albums</a></li>
                </ul>
              </nav>
            </div>
    </div>

    <!-- TITLE -->
    <div class = "abouttitle">
      <h2>
        About Our Team - iMusicDB
      </h2>
    </div>

    <!-- ABOUT ME BLOBS-->
    <div class="container aboutblobs">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <a href= "https://otisbrower.github.io"><img class="img-circle" src="https://s20.postimg.org/a3ic1mo19/cs373_pic.jpg " alt="Generic placeholder image" width="140" height="140"></a>
          <h2>Otis Brower</h2>
          <h3>Hi my name is Otis. I am a senior at The University of Texas at Austin studying Computer Science and will be graduating in December 2016. I enjoy mobile software development and watching way too many YouTube videos in my free time. </h3>
          <h4>
            <p>Major Responsibilities: Digital Ocean, Database, Back-End</p>
            <p>Number of commits: 7</p>
            <p>Number of issues: 1</p>
            <p>Number of unit tests: 0</p>
          </h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href= "https://github.com/reElizondo"><img class="img-circle" src="../images/ruben.jpg" alt="Generic placeholder image" width="140" height="140"></a>
          <h2>Ruben Elizondo</h2>
          <h3>Ruben enjoys a cold drink on a hot day, beginning conversations with "When I was your age..." and spending an unreasonable amount of time customizing emacs until it looks and acts just like sublime. His future plans involve declaring himself eligible for the 2017 NBA draft and getting a haircut. While he waits for the Spurs to call, he is excited to begin working as an Implementation Engineer at SailPoint Technologies in January of 2017, helping companies come to terms with their identity crisis. </h3>
          <h4>
            <p>Major Responsibilities: Digital Ocean, Back-End, SQLAlchemy</p>
            <p>Number of commits: 8</p>
            <p>Number of issues: 0</p>
            <p>Number of unit tests: 0</p>
          </h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href= "https://github.com/shj88"><img class="img-circle" src="../images/stewart.jpg" alt="Generic placeholder image" width="140" height="140"></a>
          <h2>Stewart Johnson</h2>
          <h3>Stewart is a senior at the University of Texas at Austin, currently seeking employment. He has a strong background in computer science and interests in computer graphics, game design, and general software development.</h3>
          <h4>
            <p>Major Responsibilities: GUI, Front End</p>
            <p>Number of commits: 7</p>
            <p>Number of issues: 0</p>
            <p>Number of unit tests: 0</p>
          </h4>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->      
      <div class="row">
        <div class="col-lg-4">
          <a href= "https://github.com/naveen16"><img class="img-circle" src="../images/naveen.jpg" alt="Generic placeholder image" width="140" height="140"></a>
          <h2>Naveen Rajshekhar</h2>
          <h3>Naveen is a Senior Computer Science major at UT Austin. Outside of school he likes to play basketball. His favorite genre of music is hip-hop/rap.</h3>
          <h4>
            <p>Major Responsibilities: Digital Ocean, Back-End</p>
            <p>Number of commits: 1</p>
            <p>Number of issues: 0</p>
            <p>Number of unit tests: 3</p>
          </h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href= "https://github.com/carolramsey"><img class="img-circle" src="../images/carol.jpg" alt="Generic placeholder image" width="140" height="140"></a>
          <h2>Carol Ramsey</h2>
          <h3>Carol is a 1995 UT CS graduate and has worked in tech for 20 years, the first 10 as a Java developer/tech lead and the second 10 in management. This is her first semester as a CS Education graduate student, learning how to change the world by bringing CS to every K-12 school in Texas.</h3>
          <h4>
            <p>Major Responsibilities: GUI, Front End, Wiki</p>
            <p>Number of commits: 12</p>
            <p>Number of issues: 9</p>
            <p>Number of unit tests: 0</p>
          </h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href= "https://github.com/christytran"><img class="img-circle" src="../images/christy.jpg" alt="Generic placeholder image" width="140" height="140"></a>
          <h2>Christy Tran</h2>
          <h3>Christy is a Senior Computer Science major at UT Austin. She enjoys trying new cusines and cuddling with her cat. She likes listening to R&B and EDM. </h3>
          <h4>
            <p>Major Responsibilities: GUI, Front-End</p>
            <p>Number of commits: 30</p>
            <p>Number of issues: 6</p>
            <p>Number of unit tests: 0</p>
          </h4>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

    <!-- STATS TITLE-->
    <div class = "container stats">
      <div class = "row">
      <div class="col-lg-4">
      <h2>
        Team Stats
      </h2>

    <!-- STATS INFO, REUSING SAME FORMAT AS ABOUTME BLOBS-->
      <h3>Total number of commits: 49</h3>      
      <h3>Total number of issues: 15</h3>
      <h3>Total number of unit tests: 3</h3>
      <a href="https://github.com/ChristyTran/cs373-idb/blob/dev/apiary.apib">
      <h3>Apiary API</h3> </a>
      <a href="https://github.com/ChristyTran/cs373-idb/issues">
      <h3>GitHub Issue Tracker</h3> </a>
      <a href="https://github.com/ChristyTran/cs373-idb">
      <h3>GitHub Repo</h3> </a>
      <a href="https://github.com/ChristyTran/cs373-idb/wiki">
      <h3>GitHub Wiki</h3> </a></div>

    <!-- STATS INFO, REUSING SAME FORMAT AS ABOUTME BLOBS-->
    <div class="col-lg-4">

        <!-- STATS TITLE-->
      <h2>
        Tools
      </h2>
      <a href="https://developer.spotify.com/web-api/">
      <h3>Spotify API</h3> </a>
    </div>
    <div class="col-lg-4">
      <h2>API</h2>
      <a href="https://github.com/ChristyTran/cs373-idb/wiki/www.angularjs.org">
      <h3>Angular JS</h3> </a>
      <a href="http://getbootstrap.com/">
      <h3>Bootstrap</h3> </a>
      <a href="http://www.sqlalchemy.org/">
      <h3>SQLAlchemy</h3> </a>      
      <a href="http://www.apiary.io/">
      <h3>Apiary</h3> </a>
      <a href="http://flask.pocoo.org/">
      <h3>Flask</h3> </a>
      <a href="https://www.digitalocean.com/">
      <h3>Digital Ocean</h3> </a>
    </div>
    </div>
  </div>
</div>

    </div>
    </div>

</div>

</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
