<!DOCTYPE html>
<!-- Code is modified from bootstrap examples on:http://getbootstrap.com/getting-started/ -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Artist Page">
    <meta name="author" content="iMusicDB Team">
    <link rel="icon" href="../../favicon.ico">

    <title>iMusicDB Artist Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="../css/carousel.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <!-- NAVBAR
    ================================================= -->
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="../../index.html">iMusicDB</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li class="active"><a href="artists.html">Artists</a></li>
                <li><a href="tracks.html">Tracks</a></li>
                <li><a href="albums.html">Albums</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>


    <!-- CONTENT
    ================================================= -->
    <div class="container">
      <div class="rTable"><!--Outer Table-->
        <div class="rTableRow"><!--Outer Table Row 1-->
          <div class="rTableCell2">
            <div class="artist"><!--Artist Image-->
              <img src="https://i.scdn.co/image/cb080366dc8af1fe4dc90c4b9959794794884c66"></img>
            </div><!--End Artist image-->
          </div>
          <div class="rTableCell2">
            <h1>Rihanna</h1>
            <div class="rTable"><!--Inner Table Artist Stats-->
              <div class="rTableRow">
                <div class="rTableHead">Genre</div>
                <div class="rTableHead">Followers</div>
                <div class="rTableHead">Popularity</div>
              </div>

              <div class="rTableRow">
                <div class="rTableCell">Pop Rap</div>
                <div class="rTableCell">6799851</div>
                <div class="rTableCell">100</div>
              </div>
            </div><!--end of artists stats-->
            <h3>Albums</h3>
            <div class="rTable" style="width= 500px"><!--Table start-->
              
              <div class="rTableRow">
                <div class="rTableHead">Title</div>
                <div class="rTableHead">Tracks</div>
                <div class="rTableHead">Duration</div>
              </div>
              
              <div class="rTableRow">
                <div class="rTableCell"><a href="album3.html">Views</a></div>
                <div class="rTableCell">20</div>
                <div class="rTableCell">42:23</div>
              </div>
              
              <div class="rTableRow">
                <div class="rTableCell">If You're Reading This It's Too Late</div>
                <div class="rTableCell">17</div>
                <div class="rTableCell">38:47</div>
              </div>
              
              <div class="rTableRow">
                <div class="rTableCell">What A Time To Be Alive</div>
                <div class="rTableCell">14</div>
                <div class="rTableCell">35:10</div>
              </div>
              
              <div class="rTableRow">
                <div class="rTableCell">Nothing Was The Same</div>
                <div class="rTableCell">17</div>
                <div class="rTableCell">37:28</div>
              </div>
              
              <div class="rTableRow">
                <div class="rTableCell">Thank Me Later</div>
                <div class="rTableCell">15</div>
                <div class="rTableCell">39:11</div>
              </div>

              <div class="rTableRow">
                <div class="rTableCell">Take Care</div>
                <div class="rTableCell">17</div>
                <div class="rTableCell">35:55</div>
              </div>

            </div><!--Table end-->
          </div>
        </div>
      </div>
    </div>
    <div class="clear"</div>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
