<!DOCTYPE html>
<!-- Code is modified from bootstrap examples on:http://getbootstrap.com/getting-started/ -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Artist Page">
    <meta name="author" content="iMusicDB Team">
    <link rel="icon" href="../../favicon.ico">

    <title>iMusicDB Artist Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


  <!-- Database Tables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="../css/cover.css" rel="stylesheet" type="text/css">
    <link href="../css/pillars.css" rel="stylesheet" type="text/css">

  </head>
  <body>

    <!-- NAVBAR
    ================================================= -->
  <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <a href="../../index.html"><h3 class="masthead-brand">iMusicDB</h3></a>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="../../index.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="artists.html">Artists</a></li>
                  <li class="active"><a href="tracks.html">Tracks</a></li>
                  <li><a href="albums.html">Albums</a></li>
                </ul>
              </nav>
            </div>
          </div>


    <!-- CONTENT
    ================================================= -->
          <div style="vertical-align: middle">
            <h1>Tracks</h1>
          </div>


       <br />                          

         <table id="example"></table>

      <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
      <script type="text/javascript" charset="utf-8">
       $(document).ready(function() 
       {
         $('#example').dataTable( {
         "aaData": [
         ["PHP Data Object | PDO","http://www.codingcage.com/search/label/PDO","100", "7", "3:45", "Yes", "1000"],
         ["Object Oriented PHP","http://www.codingcage.com/search/label/PHP OOP","100", "7", "3:45", "Yes", "1000"],
         ["jQuery Tutorials","http://www.codingcage.com/search/label/jQuery","100", "7", "3:45", "Yes", "1000"],
         ["Ajax Tutorials","http://www.codingcage.com/search/label/Ajax","100", "7", "3:45", "Yes", "1000"],
         ["CRUD Tutorials","http://www.codingcage.com/search/label/CRUD","100", "7", "3:45", "Yes", "1000"],
         ["Pagination Tutorials","http://www.codingcage.com/search/label/Pagination","100", "7", "3:45", "Yes", "1000"],
         ["PHP MySQLi Tutorials","http://www.codingcage.com/search/label/MySQLi","100", "7", "3:45", "Yes", "1000"],
         ["HTML5 Tutorials","http://www.codingcage.com/search/label/HTML5","100", "7", "3:45", "Yes", "1000"],
         ["Pagination Tutorials","http://www.codingcage.com/search/label/Pagination","100", "7", "3:45", "Yes", "1000"],
         ["PHP MySQLi Tutorials","http://www.codingcage.com/search/label/MySQLi","100", "7", "3:45", "Yes", "1000"],
         ["HTML5 Tutorials","http://www.codingcage.com/search/label/HTML5","100", "7", "3:45", "Yes", "1000"]
         ],
          "columns": [
          { "title": "Track" },
          { "title": "Number" },
          { "title": "Album" },
          { "title": "Artist" },
          { "title": "Duration" },
          { "title": "Explicit" },
          { "title": "Popularity" }
         ]
         });   
         });
        </script>

        <script type="text/javascript">
          $('#example').addClass('table table-striped table-bordered');
        </script>
    </div>
  </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>  -->
    <!-- Just to make our placeholder images work. Don't actually copy the next line! 
    <script src="../../assets/js/vendor/holder.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
