/* ABOUTME TITLE
-------------------------------------------------- */

/* Center align the text below the navbar */
body{
	background-image: url("../images/kitchen.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.recipe h2 {
	font-weight: bold;
	font-size: 90px;
	text-align: center;
	position: relative;
}


.recipe h3 {
	font-size: 15px;
}

.recipe-container {
	width: 360px;
	margin-top: 15px;
	margin-right: 20px;
	display: inline-block;
}


.dropdown .col-lg-4 {
	margin-bottom: 18px;
	text-align: center;
	position: relative;
	top: 20px;
}


.details {
   width: 50%;
   position: absolute;
   right: 5%;
   height: 100%;
}

.details h3 {
	font-size: 30px;
	padding-right: 40%;
}

.details table {
	font-size: 20px;
	width: 60%; 
	text-align: center; 
	font-size: 20px;
	background: white;
	color: black;
}

.image {
   width: 50%;
   position: absolute;
   left: 0%;
   height: 100%;
}

.image .img {
	max-width: 350px;
	max-height: 350px;

	background: white;
	background-size: 370px 370px;
}

.button {
	background-color: white;
	border: none;
	color: black;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border-radius: 4px;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.button:hover {
	background-color: #843b40;
	color: white;
}